.container {
    background-color: aliceblue;
    padding:0px 10px;
  }
  .container div{
    padding: 10px 0px;
  }
  .message {
    font-size:14pt;
  }
  h1 {
    position: relative;
    text-align: right;
    margin-top:0px;
  }
  button {
    margin-right:10px;
  }
  th {
    background-color: lightblue;
    border:1px solid aliceblue;
    padding:5px 20px;
  }
  td {
    background-color: white;
    border:1px solid aliceblue;
    font-size:14pt;
    padding:5px 20px;
  
  }
  