.base {
  background-color:aliceblue;
}
.footer {
  text-align:center;
  font-size:10pt;
  margin:20px;
}
.user {
  cursor: hand;
  text-align:right;
  font-size:10pt;
  font-weight:bold;
}
.content {
  padding:20px;
}
.fab {
  z-index: 100;
  position:fixed;
  bottom:50px;
  right:50px;
}


